@use "$tokens" as *;

.paragraph {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: $spacing-level-400;
}

.teaser {
  font-size: 22px;
  line-height: 1.6;
  font-weight: 200;
  margin-bottom: 0;
  font-style: italic;
  color: $color-neutral-300;
}

@include sm {
  .paragraph {
    font-size: 18px;
  }
  .teaser {
    font-size: 20px;
  }
}
