@use "$tokens" as *;

.section {
  color: $color-neutral-100;
  padding: $spacing-level-200;
  background-color: $color-neutral-900;
  transform: skewY(-1 * $skew-level-100);
}

.section > div {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  min-width: 320px;
  transform: skewY($skew-level-100);
}

.invert {
  color: $color-neutral-900;
  background-color: $color-neutral-100;
}

